html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  overflow: hidden;
}

@font-face {
 font-family: Custom-Calibri;
 src: local("Calibri"), url("fonts/Calibri.eot"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype");
}

@-ms-viewport {
  width: device-width;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

.title-text {
  float: left;
  font-size: 23pt;
  color: black;
  margin-right: 10px;
}

.subtitle-text {
  font-size: 21pt;
  font-weight: 100;
  margin-top: 2px;
  color: #494949;
}

.content-text {
  text-align: left;
  font-size: 11pt;
}

#container {
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

#header {
  text-align: center;
  width: 960px;
  background-color: white;
  margin: 0 auto;
}

#header-titles {
  text-align: left;
}

#header-titles a {
  text-decoration: none;
}

#body-index {
  overflow: visible;
  width: 994px;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.thumbnail a {
  width: 990px;
  float: left;
  height: 272px;
  border-radius: 2px;
  color: black;
  border: 0;
  margin-top: 0px;
}

.thumbnail a:hover {
  color: white;
  background: #e28b8b;
}

.thumbnail-image {
  border-radius: 2px;
  width: 960px;
  margin-top: 15px;
}

.thumbnail-title {
  float: left;
  text-align: left;
  margin-top: -1px;
  margin-bottom: 5px;
  margin-left: 310px;
  font-weight: 700;
  font-size: 13pt;
}

.thumbnail-description {
  float: right;
  text-align: right;
  margin-top: 2px;
  margin-right: 310px;
  font-size: 10pt;
}

#footer {
  width: 100%;
  text-align: center;
  height: 25px;
  font-family: klavika, Helvetica, Arial, sans-serif !important;
  margin: 0 auto;
}

#footer a {
  color: black;
}

#body-index2 {
  position: relative;
  overflow: visible;
  width: 1100px;
  margin-top: 20px;
  margin: 0 auto;
}

#loading {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  background: white;
  z-index: 999;
}

#loadingImg {
  margin: 0 auto;
  vertical-align: middle;
}

#image_feed {
  visibility: hidden;
}

#timelapse_feed {
  display: none;
}

.timelapse_feed_embed {
  position: relative;
  height: 100%;
}

.image_feed_embed {
  position: absolute;
  width: auto;
  left: 0px;
  right: 186px;
  top: 0px;
  bottom: 0px;
  height: auto !important;
  overflow: hidden !important;
}

.image-zoom-wrapper-embed {
  height: 100% !important;
}

#image_feed_timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565, 2px 2px 3px rgba(0,0,0,0.3);
}

.feed_msg {
  position: absolute;
  top: 42px;
  left: 175px;
}

.feed_msg_txt {
  font-size: 12px;
  margin-top: 5px;
}

#show_timelapse_feed {
  position: relative;
  width: 523px;
  height: 148px;
  border: 1px solid black;
  font-size: 40px;
  margin-top: 16px;
  float: left;
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565, 2px 2px 3px rgba(0,0,0,0.3);
}

#show_image_feed {
  position: relative;
  width: 523px;
  height: 148px;
  border: 1px solid black;
  font-size: 40px;
  margin-top: -150px;
  margin-left: 545px;
  cursor: pointer;
  float: left;
  color: white;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565, 2px 2px 3px rgba(0,0,0,0.3);
}

.feed_overlay {
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 523px;
  height: 148px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.feed_overlay:hover {
  background: black;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 523px;
  height: 148px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#location_toggle_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 195px;
  overflow-y: auto;
  overflow-x: auto;
  width: 211px;
  height: 474px;
}

#location_toggle {
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

#datepicker {
  position: absolute;
  right: -209px;
}

.datepicker_embed {
  right: 0px !important;
  top: 0px !important;
}

#content {
  position: relative;
  visibility: hidden;
  overflow: visible;
  width: 100%;
  height: 816px;
  margin-left: 18px;
}

#locationTitle {
  position: fixed;
  right: 240px;
  top: 18px;
  font-size: 20px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 3px rgba(0,0,0,0.3);
  color: white;
  font-weight: normal;
  z-index: 50;
}

.error_msg {
  cursor: default;
  font-size: 19px;
  color: #EB7474;
  font-weight: bold;
  position: relative;
  top: -154px;
}

.error_msg2 {
  cursor: default;
  font-size: 30px;
  color: #EB7474;
  font-weight: bold;
  position: relative;
  top: 20px;
}

.disabled {
  cursor: default !important;
}

.feed_overlay.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.feed_overlay.disabled:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.date_msg {
  font-size: 12px;
}

.location_thumbnail_container {
  display: block;
  position: relative;
  margin-bottom: 0px;
  margin-right: 0;
  cursor: pointer;
}

.location_thumbnail_container_end {
  margin-bottom: 0px !important;
}

.location_thumbnail {
  display: block;
  z-index: 1;
  width: 211px;
  height: 88px;
}

.location_title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 14px;
  width: 211px;
  overflow: hidden;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.7);
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  z-index: 3;
  text-align: center;
}

.location_thumbnail_overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 211px;
  height: 88px;
  z-index: 4;
  -moz-box-shadow: inset 0 0 260px #000;
  -webkit-box-shadow: inset 0 0 260px #000;
  box-shadow: inset 0 0 260px #000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.location_thumbnail_overlay:hover {
  -moz-box-shadow: inset 0 0 0px #000;
  -webkit-box-shadow: inset 0 0 0px #000;
  box-shadow: inset 0 0 0px #000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.location_thumbnail_selected {
  -moz-box-shadow: inset 0 0 0px #000;
  -webkit-box-shadow: inset 0 0 0px #000;
  box-shadow: inset 0 0 0px #000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tiledContentHolder {
  border: 0px !important;
  right: 0px !important;
  left: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
}

#timeMachine {
  position: absolute;
  left: 0px;
  right: 212px;
  top: 0px;
  width: auto;
  height: 100%;
  z-index: 5;
}

#datepicker {
  right: 0px !important;
}

#datepicker .ui-datepicker-next, #datepicker .ui-datepicker-prev {
  cursor: pointer;
}

#datepicker .ui-datepicker-header {
  color: white;
  background: rgb(150, 150, 150);
  border: 0px solid rgb(204, 204, 204);
  border-radius: 3px !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#datepicker .ui-datepicker {
  font-size: 12px;
  height: 190px;
  border-radius: 0;
  color: #555555;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(150, 150, 150);
}

#datepicker .ui-state-default {
  background: rgb(150, 150, 150);
  border-radius: 3px !important;
  color: white;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}

#datepicker .ui-state-hover {
  background: rgb(100, 100, 100) !important;
}

#datepicker .date-highlight a {
  color: white;
  background: rgb(150, 150, 150);
  border: 1px solid rgb(204, 204, 204);
}

#datepicker .ui-state-active {
  border: 1px solid rgb(204, 204, 204) !important;
  background: #2794DD !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#datepicker .ui-datepicker-header .ui-icon {
  background-image: url(../images/ui-icons_custom_256x240.png);
}
