#zoom-in {
  border-radius: 50%;
  background: white;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 100;
  opacity: 1;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  border: 1px solid #656565;
}

#zoom-in:hover {
  background: #E6E6E6;
}

#zoom-in p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 5px;
  color: #656565;
}

#zoom-out {
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 16px;
  top: 65px;
  z-index: 100;
  opacity: 1;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  border: 1px solid #656565;
}

#zoom-out:hover {
  background: #E6E6E6;
}

#zoom-out p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin-top: -3px;
  color: #656565;
}

.image-zoom-wrapper {
  background: black;
  position: relative;
  overflow: hidden;
  height: 600px;
  margin-right: 31px;
  border: 1px solid #656565;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
  visibility: visible;
}

.image-zoom {
  position: relative;
  visibility: hidden;
}
